.Array_Size{
    text-align: center;
}
.App {
	text-align: center;
}
.frame {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	margin: 5em 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 220px;
}
.controller {
	margin: 0 1em;
	border: 1px solid;
	height: 3em;
	width: 3em;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.control-buttons {
	height: 4em;
	width: 15em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.control-pannel {
	display: flex;
	justify-content: center;
    background-color: #eee;
	align-items: center;
}
.ss{
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
}
.is{
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
}
.bs{
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
}
